body {
    font-family: Arial, sans-serif;
}

hr {
    border-top: 1px solid black;
}

.container .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container .row {
    display: flex;
    flex-direction: row;
}

.container .col {
    display: flex;
    flex-direction: column;
}

.container .row .auto-fill,
.container .col .auto-fill {
    flex: 1;
}

.container .header .bill-title h1 {
    font-size: 20px;
}

.container .header .logo img {
    max-width: 280px;
}

.container .header .row .left-info,
.container .client-resume .left-info,
.container .bank-account .left-info {
    text-align: left;
}

.container .margin2 > div { margin: 2px 0; }
.container .margin8 > div { margin: 8px 0; }
.container .margin5 > div { margin: 5px 0; }

.container .bill-info {
    font-size: 12px;
    margin: 10px 0px;
}

.container .resume-table .small { width: 5%; }

.container .resume-table table,
.container .amount-resume table {
    width: 100%;
    word-break: break-word;
    border-collapse: collapse;
}

.container .amount-resume table .border-bottom {
    border-bottom: 1px solid black;
}

.container .footer {
    display: flex;
    justify-content: space-between;
}

.container .footer .contacts {
    border: 1px solid black;
    border-radius: 6px;
    text-align: center;
    font-size: 12px;
}

.container .footer .resume { max-width: 490px; }

.container .footer .vat-resume { height: 80px; }

.container .footer .payment-coupon .content {
    border-left: 1px dashed black;
    border-top: 1px dashed black;
    padding: 0px 0px 0px 20px;
}

.small-text { font-size: 9px; }
.gray-background { background-color: #eee; }
.right-align { text-align: right; padding-right: 5px; }
.center-align { text-align: center; }
.left-align { text-align: left; }

.width-70 { width: 70%; }
.width-45 { width: 45%; }
.width-10 { width: 10%; }

.margin-top-10 { margin-top: 10px; }
.margin-bot-10 { margin-bottom: 10px; }
.margin-bot-20 { margin-bottom: 20px; }

.page-break-avoid { page-break-inside: avoid; }
.new-page { page-break-before: always; }

tr.spaceUnder > td { padding-bottom: 10px; }

.logo-container {
    text-align: center;
    margin-bottom: 10px;
}

.logo-container img {
    max-width: 200px;
}
